@font-face {
    font-family: 'MonkeyIsland 1990 refined';
    src: url('MonkeyIsland-1990-refined.ttf') format('truetype');
}

:root {
    font-size: 24px;
    /* font-size: 1.5em; */

    --bg1: #282A36;
    --bg2: #44475A;
    --bg3: #181920;
    --fg: #F8F8F2;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow-wrap: break-word;
    /* min-width: 0; */
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'MonkeyIsland 1990 refined';
    text-shadow: 4px 4px 0 var(--bg1);
    text-transform: lowercase;
    background-color: var(--bg1);
    color: var(--fg);
    min-height: 100vh;
    /* width: 100vw; */
}

.input-box {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.right {
    float: right;
}

label {
    font-size: .7rem;
}

input {
    font-size: 1rem;
}

input, button {
    color: var(--fg);
}

a {
    color: lightskyblue;
}

button, input {
    appearance: none;
    -moz-appearance: none;
    background-color: var(--bg1);
    border: none;
    padding: 10px;
    margin: 15px 0;
    font-family: 'MonkeyIsland 1990 refined';
    box-shadow: 4px 4px var(--bg3);
}

* { transition: filter .4s; }
.loading {
    filter: blur(2px);
}

.loading-spinner {
    position: relative;
    z-index: -9999;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: url('loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .4s;
    transition: z-index .4s;
}
.loading ~ .loading-spinner {
    opacity: 1;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
}

.main-screen {
    /* height: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
}

.container {
    background-color: var(--bg2);
    padding: 1em;
}

.container-of-containers {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}
    .container-of-containers > * {
        margin: 10px;
        flex: 1 auto;
        /* width: 100%; */
    }
    /* .container-of-containers > *:last-of-type {
        margin-right: 0;
    } */
@media only screen and (max-width: 600px) {
    .container-of-containers {
        flex-direction: column;
    }
        .container-of-containers > * {
            margin: 10px 0;
            width: 100%;
        }
}

.container.title {
    margin-bottom: 10px;
    flex: 0 1 auto;
}
    .container.title > * {
        display: inline-block;
    }
    .container.title > .email {
        margin-right: 20px;
    }

.logo img {
    height: 1.5rem;
    filter: invert(100%) grayscale(100%);
}

.formulario-container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
}
    .formulario-container iframe {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

#toast-list {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.toast {
    display: block;
    position: relative;
    z-index: 1;
    transition: opacity .5s;
    margin: 15px;
    padding: 15px;
}

.toast::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .85;
    z-index: -1;
    background-color: var(--bg3);
}

.toast-close-btn {
    content: "";
    float: left;
    /* display: inline-block; */
    width: 1em;
    height: 1em;
    /* x in svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZD0iTTEzLjA4Ni44MTlsMi4wOTYgMi4wOTZMMi45MTUgMTUuMTguODE5IDEzLjA4NnoiLz48cGF0aCBkPSJNLjgxOSAyLjkxNUwyLjkxNS44MTlsMTIuMjY3IDEyLjI2Ny0yLjA5NiAyLjA5NnoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    filter: invert(100%);
    cursor: pointer;
}

#loading-screen {
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--bg1);
    display: flex;
    align-items: center;
    justify-content: center;
}
    #loading-screen::before {
        content: "";
        background: url('loading.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 30vw;
        height: 30vh;
        display: block;
    }

#info {
    margin: 10px;
    /* margin-top: 20px; */
    line-height: 1.5;
    font-size: .7rem;
}
    #info img {
        width: 100%;
    }
@media only screen and (max-width: 600px) {
    #info {
        margin: 10px 0;
    }
}

/* @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */